# Архитектура

## Главный принцип

`{{ARCHITECTURE_PRINCIPLE}}`

## Основные компоненты

- `{{COMPONENT_1}}`
- `{{COMPONENT_2}}`
- `{{COMPONENT_3}}`

## Поток данных

1. `{{FLOW_STEP_1}}`
2. `{{FLOW_STEP_2}}`
3. `{{FLOW_STEP_3}}`

## Архитектурные правила

- `{{RULE_1}}`
- `{{RULE_2}}`
- `{{RULE_3}}`
